* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #fff;
    --black: #333;
    --grey: #999;
    --blue: #0779e4;
    --ice-blue: #dcf3ff;
    --red:  #cc0000;
    --purple-blue: #6f86d6;
}

body {
    background-image: url("../../assets/img/background.jpg");
    background-size: auto;
}

.top {
    display: flex;
    align-items: baseline;
    padding: 20px;
}

.left {
    font-size: 2rem;
    color: var(--purple-blue);
    font-weight: bold;
}

.right {
    color: var(--purple-blue);
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.bottom {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
}

.sidebar {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: var(--white);
}

.contact-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.contact-container button {
    border: none;
    background: none;
    outline: none;
}

.linkedin {
    filter: invert(46%) sepia(83%) saturate(6604%) hue-rotate(182deg) brightness(90%) contrast(101%);
}

.behance {
    filter: invert(35%) sepia(90%) saturate(4455%) hue-rotate(214deg) brightness(102%) contrast(102%);
}

.github {
    filter: invert(0%) sepia(11%) saturate(13%) hue-rotate(319deg) brightness(103%) contrast(82%);
}

.gmail {
    filter: invert(40%) sepia(31%) saturate(1595%) hue-rotate(326deg) brightness(94%) contrast(96%);
}

.facebook {
    filter: invert(41%) sepia(89%) saturate(4707%) hue-rotate(205deg) brightness(100%) contrast(91%);
}

.icons {
    width: 25px;
    margin: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 470px) {
    .sidebar {
        height: 60px;
    }
}

@media only screen and (max-width: 720px) {
    .intro {
        margin: 30px 10px;
    }
}

@media only screen and (min-width: 720px) {
    .intro {
        position: absolute;
        top: calc(50% - 100px);
        transform: translate(0%, -50%);
        left: 3rem;
    }
    
    .top {
        display: flex;
        align-items: baseline;
        padding: 30px;
    }
    
    .left {
        font-size: 4rem;
        color: var(--purple-blue);
        font-weight: bold;
    }
    
    .right {
        color: var(--purple-blue);
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
    
    .bottom {
        background-color: var(--blue);
        color: var(--white);
        border-radius: 10px;
        padding: 30px;
        font-weight: bold;
    }

    .sidebar {
        width: 80px;
        height: 400px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0%, -50%);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-content: space-around;
    }

    .icons {
        width: 40px;
    }
}

@media only screen and (min-width: 720px) and (max-width: 970px ) {
    .bottom {
        width: calc(100% - 130px);
    }
}