* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #fff;
    --black: #333;
    --grey: #999;
    --blue: #0779e4;
    --ice-blue: #dcf3ff;
    --red:  #d9534f;
}

.loader {
    border: 8px solid var(--ice-blue);
    border-radius: 50%;
    border-top: 8px solid var(--blue);
    width: 80px;
    height: 80px;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.middle-section {
    margin: 2px auto 0 auto;
    width: 100%;
    background-color: var(--white);
    height: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.add-container {
    width: 100%;
    padding: 5px;
}

.add-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn-container button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.add-btn-container button:hover {
    filter: brightness(1.5);
}

.add-btn-container button i {
    color: var(--blue);
    font-size: 1.5rem;
}

.add-btn-container span {
    text-transform: uppercase;
    margin-left: 5px;
}

.data-container {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 15px 25px 15px 25px;
    margin: 0 auto;
    border-radius: 5px;
}

.close-btn-container {
    width: 100%;
    text-align: center;
}

.close-btn-container button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.close-btn-container button i {
    color: var(--red);
    font-size: 1.5rem;
}

.close-btn-container button:hover {
    filter: brightness(1.5);
}

.data-container input {
    width: 100%;
    border: 1px solid var(--grey);
    margin-top: 5px;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
}

.data-container input:focus {
    border: 1px solid var(--blue);
}

.submit-btn-container {
    width: 100%;
    margin: 15px auto 0 auto;
}

.submit-btn-container button {
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--blue);
    width: 100%;
    padding: 10px;
    color: var(--white);
    font-weight: 600;
    border-radius: 5px;
}

.submit-btn-container button:hover {
    filter: brightness(1.1);
}

.project {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 8px;
    min-height: 350px;
    position: relative;
    height: 550px;
    border-radius: 5px;
}

.img-container {
    width: 100%;
    background-color: var(--ice-blue);
}

.project div img {
    width: 100%;
    min-height: 350px;
    max-height: 350px;
    object-fit: contain;
    display: block;
}

.hide-scroll-bar {
    overflow: hidden;
}

.txt-container {
    padding: 10px;
    text-align: justify;
    max-height: 150px;
    overflow-y: auto;
}

.txt-container::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background-color: var(--ice-blue)
}

.txt-container::-webkit-scrollbar {
	width: 5px;
}

.txt-container::-webkit-scrollbar-thumb {
    background-color: var(--grey);
}

.txt-container h1, p {
    word-wrap: break-word;
}

.txt-container h1 {
    font-size: 20px;
    margin-bottom: 8px;
}

@media only screen and (min-width: 430px) {
    .submit-btn-container {
        width: 280px;
    }
}

@media only screen and (min-width: 550px) {
    .data-container {
        width: 500px;
    }
}

@media screen and (min-width: 630px) and (max-width: 1269px) {
    .project {
        width: 600px;
    }
}

@media only screen and (min-width: 1270px) {
    .middle-section {
        max-width: 1250px;
        justify-content: space-between;
    }

    .project {
        width: 600px;
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }

    .project:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
}