* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #fff;
    --black: #333;
    --grey: #999;
    --blue: #0779e4;
    --ice-blue: #dcf3ff;
    --red:  #d9534f;
}

.centered {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.loader {
    border: 8px solid var(--ice-blue);
    border-radius: 50%;
    border-top: 8px solid var(--blue);
    width: 80px;
    height: 80px;
    -webkit-animation: spin 0.5s linear infinite; 
    animation: spin 0.5s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .middle-section {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-width: 1250px;
    margin: 2px auto 0 auto;
    padding: 10px;
    background-color: var(--white);
  }

  .add-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

.add-btn-container {
    display: flex;
    align-items: center;
}

.add-btn-container button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.add-btn-container button:hover {
    filter: brightness(1.5);
}

.add-btn-container button i {
    color: var(--blue);
    font-size: 1.5rem;
}

.add-btn-container span {
    text-transform: uppercase;
    margin-left: 5px;
}

.data-container {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
}

.close-btn-container {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 41px;
}

.close-btn-container button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.close-btn-container button i {
    color: var(--red);
    font-size: 1.5rem;
}

.close-btn-container button:hover {
    filter: brightness(1.5);
}

.data-container input {
    width: 100%;
    border: 1px solid var(--grey);
    margin-top: 5px;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    outline-color: var(--white);
}

.data-container input:focus {
    border: 1px solid var(--blue);
}

.submit-btn-container {
    width: 100%;
    margin: 15px auto 0 auto;
}

.submit-btn-container button {
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--blue);
    width: 100%;
    padding: 10px;
    color: var(--white);
    font-weight: bold;
    border-radius: 5px;
}

.submit-btn-container button:hover {
    filter: brightness(1.1);
}

.task {
    background: var(--white);
    color: var(--black);
    height: 100%;
    margin: 10px auto 0 auto;
    width: 100%;
    padding: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 5px;
}

.delete-btn-container {
    width: 100%;
    text-align: center;
    position: relative;
}

.delete-btn-container button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: -11px;
    right: -5px;
}

.delete-btn-container button i {
    color: var(--red);
    font-size: 1.5rem;
}

.delete-btn-container button:hover {
    filter: brightness(1.5);
}

.task h1 {
    font-size: 20px;
    margin-bottom: 5px;
}

.task h1, p {
    word-wrap: break-word;
}

.small-img {
    width: 100%;
    max-width: 150px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.big-img {
    max-width: 1280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-comment-container {
    width: 90%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 5px;
    margin: 10px auto 50px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.add-comment-container input {
    outline: none;
    border: none;
    width: 97%;
    font-size: 16px;
    padding: 5px;
}

.add-comment-container button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 3px;
}

.add-comment-container button:hover {
    filter: brightness(1.5);
}

.add-comment-container button i {
    font-size: 20px;
    color: var(--blue);
}

@media only screen and (min-width: 430px) {
    .submit-btn-container {
        width: 280px;
    }
}

@media only screen and (max-width: 512px) {
    .big-img {
        width: 100%;
    }
}

@media only screen and (min-width: 550px) {
    .data-container {
        width: 500px;
    }
}