* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --white: #fff;
  --black: #333;
  --grey: #999;
  --blue: #0779e4;
  --ice-blue: #dcf3ff;
  --red:  #cc0000;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  font-size: 10px;
  background-color: var(--white);
}

.nav-bar {
  list-style: none;
}

.nav-bar li {
  display: inline-block;
}

.nav-bar li a {
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  margin-left: 10px;
}

/* .nav-bar li a,
.nav-bar li a:after,
.nav-bar li a:before {
  transition: all .3s;
} */

/* .nav-bar li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background-color: var(--black);
  height: 2px;
} */

/* .nav-bar li a:hover:after {
  width: 100%;
} */

.nav-bar li a:hover {
  color: var(--blue)
}

.active {
  border-bottom: 2px solid black;
}

/* .nav-bar li a:focus:after {
  width: 100%;
} */

/* .nav-bar li a:focus {
  color: var(--blue)
} */

.logo-container {
  width: 3rem;
}

.logo-container img {
  display: block;
  cursor: pointer;
}

.right-side ul {
  list-style: none;
}

.right-side ul li {
  display: inline;
  position: relative;
}

.right-side ul li a {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  color: var(--blue);
  padding: 5px 5px;
  margin-right: 5px;
  z-index: 1;
}

.right-side ul li a,
.right-side ul li a::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.right-side ul li a::before,
.right-side ul li a::after {
  background: var(--blue);
  content: '';
  position: absolute;
  z-index: -1;
}

.right-side ul li a {
  color: var(--blue);
}

.right-side ul li a:hover {
  color: var(--white);
}

.right-side ul li a::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.right-side ul li a:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.right-side ul li a:focus {
  color: var(--white);
}

.right-side ul li a:focus:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.log-out {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
  margin-right: 10px;
}

.log-out:hover {
  color: var(--blue);
}

@media only screen and (min-width: 470px) and (max-width: 719px ) {
  .nav-bar-container {
    font-size: 13px;
    height: 80px;
  }

  .nav-bar li a {
    margin-left: 15px;
  }

  .logo-container {
    width: 4rem;
  }

  .right-side ul li a {
    margin-right: 15px;
  }

  .log-out {
    margin-right: 15px;
  }
}

@media only screen and (min-width: 720px) {
  .nav-bar-container {
    font-size: 16px;
    height: 100px;
  }

  .nav-bar li a {
    margin-left: 40px;
  }

  .logo-container {
    width: 5rem;
  }

  .right-side ul li a {
    margin-right: 40px;
  }

  .log-out {
    margin-right: 40px;
  }
}